<div id="myDIV" class="header">
  <h2>My To Do List</h2>

  <!-- inputs -->
  <input [(ngModel)]="title" type="text" id="myInput" placeholder="Title" />
  <input [(ngModel)]="date" type="datetime-local" id="myDate" placeholder="mm/dd/yyyy" />
  <button (click)="addTask()" class="btn btn-danger" type="submit">Add</button>

  <!-- errors -->
  @for (error of errors.slice(0, 3); track $index) {
  <div class="alert alert-danger m-auto m" role="alert">
    {{ error }}
  </div>
  }
</div>

<!-- tasks list -->
<app-todo-list [tasks]="tasks"></app-todo-list>
